/* Poppins */

@font-face {
    font-family: "Poppins";
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src:
            local("Poppins"),
            local("Poppins"),
            url("../../../fonts/Poppins/Poppins-Black.ttf") format("truetype");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
            local("Poppins"),
            local("Poppins"),
            url("../../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
            local("Poppins"),
            local("Poppins"),
            url("../../../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
            local("Poppins"),
            local("Poppins"),
            url("../../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
            local("Poppins"),
            local("Poppins"),
            url("../../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd;
}